.place__paragraph {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  margin: 0 0 27px;
  text-align: start;
  /* padding-bottom: 26px; */
}

.place__paragraph:last-child {
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .place__paragraph {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 26px;
  }
}
